.hide{
    display: none !important;
}

/* menu */
.menu{
    background: var(--main-color);
    position: relative;
}

.menu_container{
    max-width: 1300px;
    height: 60px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu li{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 0;
    height: 100%;
}
.menu li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;    
    display: inline-block;
}
.menu .logo img{
    width: 100%;
    height: 100%;
}
.menu .dropdown{
    position: absolute;
    top:100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.menu .dropdown a{
    display: block;
    border-bottom: 1px solid gray;
    color:var(--main-color);
    padding: 10px;
}
.menu i{
    font-size: 16px !important;
}
.menu .cart a{
    border:1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding:5px;
    transition: 0.5s;
}
.menu .cart a:hover{
    background: #fff;
    color:var(--main-color)
}

.menu .cart a{
    margin-left: 20px;
}
.dropdown-bar{
    position: absolute;
    top:100%;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 0;
}
.dropdown-bar a{
    display: block;
    color:var(--main-color);
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;    
}
.dropdown-bar a:hover{
    background: var(--main-color);
    color:#fff
}
i{
    cursor: pointer;
}
@media screen and (max-width:768px){
    .menu_container{
        justify-content: space-between;
    }
    .menu ul li.item{
        display: none;
    }
    .menu .bar.hide{
        display: flex !important;
    }
}